streamlit==1.35.0
pandas==2.2.2
mysql-connector-python==8.3.0
sqlalchemy==2.0.30
openpyxl==3.1.2
python-docx==1.1.0
PyMuPDF==1.23.25
pdfplumber==0.10.4
dateparser==1.2.0
python-dotenv==1.0.1
bcrypt==4.1.2
